GUI_PORT=6901
VNC_NATIVE_PORT=5901
SSH_PORT=2201
VNC_PW=ChangeMe_123456
CONTAINER_NAME=ubuntu22-gui
HOME_DIR=./docker_os/ubuntu22-gui/home
HTTP_PROXY=
HTTPS_PROXY=
ALL_PROXY=
NO_PROXY=localhost,127.0.0.1,::1,host.docker.internal
http_proxy=
https_proxy=
all_proxy=
no_proxy=localhost,127.0.0.1,::1,host.docker.internal
